Repository freennnn/courses: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

docs: add describing the project, its purpose, and the technology stack in readme.md
  README.md
Due: none

docs: add detailed instructions for setting up and running the project
  README.md
Due: none

docs: add all available scripts and their usage
  README.md
Due: none

RF-22: feat - implement routing for Login, Registration, Main, Not Found pages
  src/App.tsx
  src/features/Navigation/Navigation.tsx
  src/main.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add Jest testing-library setup and example
  jest.config.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/__tests__/api.test.ts
  src/__tests__/pages/MainPage/MainPage.test.tsx
  src/api.test.js
  src/pages/MainPage/MainPage.tsx
  tsconfig.json
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add Vite support of 'paths'/aliases from tsconfig
  package-lock.json
  package.json
  src/App.tsx
  vite.config.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: remove __tests__ files from tsconfig 'exclude' part in order to remove eslint errors about not founding module (due to tsconfig paths)
  .eslintrc.cjs
  package-lock.json
  package.json
  tsconfig.json
Due: none

RF-22: feat - add base layout for NotFoundPage
  index.html
  package-lock.json
  package.json
  public/not-found.svg
  src/index.css
  src/index.scss
  src/main.tsx
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add sass
  package-lock.json
  package.json
Due: none

RF-22: feat - add styles and some layout for NotFoundPage
  src/App.css
  src/index.scss
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RF-12: feat - add login function
  package-lock.json
  package.json
  src/api.ts
  src/declarations.d.ts
  vite.config.ts
Due: none

feat: add normalize
  package-lock.json
  package.json
  src/index.css
  src/index.scss
  src/main.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: setup normalize.scss
  src/main.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RF-22: fix - remove navigation from Login, Registration, 404 pages,add resposive layout
  src/App.css
  src/App.scss
  src/App.tsx
  src/pages/NotFoundPage/NotFoundPage.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

R-17: feat - add signUp function, change flow of client
  .gitignore
  .lintstagedrc.json
  src/App.tsx
  src/api.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

R-17: refactor - move constants and helpers for API in separate files
  src/App.tsx
  src/api.ts
  src/api/api.test.js
  src/api/api.ts
  src/api/apiConfig.ts
  src/api/apiHelpers.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: remove unnecessary dependency
  package-lock.json
  package.json
Due: none

RF-17: fix: add example of signIn using
  src/App.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add hook form, zod
  package-lock.json
  package.json
Due: none

feat: add country-data
  src/components/LoginForm/CountryData.tsx
  src/components/LoginForm/RegistrationForm.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add registration form
  src/components/LoginForm/RegistrationForm.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add registration style
  src/components/LoginForm/LoginForm.css
  src/components/LoginForm/LoginForm.scss
Due: prettier --write

feat: add registration page
  src/pages/RegistrationPage/RegistrationPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add regatration page style
  src/pages/RegistrationPage/RegistrationPage.css
  src/pages/RegistrationPage/RegistrationPage.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

Rf-17: fix - change client flow for login
  package-lock.json
  src/App.tsx
  src/api/api.ts
  src/api/apiConfig.ts
  src/api/apiHelpers.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: remove api.test.js
  src/api/api.test.js
Due: none

fix: ReferenceError: global is not defined
  .lintstagedrc.json
  package-lock.json
  package.json
  vite.config.ts
Due: none

fix: change lint-staged rule
  .lintstagedrc.json
Due: none

fix: fix eslint errors
  src/assets/images/close.png
  src/assets/images/home.svg
  src/assets/images/loginBg.jpg
  src/assets/images/logo.svg
  src/assets/images/open.png
  src/assets/images/shape.svg
  src/components/LoginForm/CountryData.tsx
  src/components/LoginForm/LoginForm.scss
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/RegistrationForm.tsx
  src/pages/LoginPage/LoginPage.scss
  src/pages/LoginPage/LoginPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix validation problems
  src/assets/images/home.svg
  src/assets/images/logo.svg
  src/assets/images/shape.svg
  src/components/LoginForm/CountryData.tsx
  src/components/LoginForm/LoginForm.css
  src/components/LoginForm/LoginForm.scss
  src/components/LoginForm/RegistrationForm.tsx
  src/pages/LoginPage/LoginPage.scss
  src/pages/RegistrationPage/RegistrationPage.css
  src/pages/RegistrationPage/RegistrationPage.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: add vercel config for routing
  vercel.json
Due: none

fix: remove mock functions from App
  src/App.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: change color name
  src/pages/RegistrationPage/RegistrationPage.scss
Due: prettier --write

fix: remove mock functions
  src/App.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: add vercel.json
  vercel.json
Due: none

fix: fix bg path
  src/pages/RegistrationPage/RegistrationPage.scss
Due: prettier --write

fix: fix password view
  src/components/LoginForm/RegistrationForm.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix login password view
  src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix password login logic
  src/components/LoginForm/LoginForm.scss
Due: prettier --write

fix: fix logo path
  src/pages/RegistrationPage/RegistrationPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

Path conditions:
  prettier --write: (any of: *.tsx) or (any of: *.scss)
  eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0: any of: *.tsx
