Repository freennnn/courses: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix interfaces,types,names
  src/pages/UserProfilePage/UserAddresses.tsx
  src/pages/UserProfilePage/UserInfo.tsx
  src/pages/UserProfilePage/UserNewAddress.tsx
  src/pages/UserProfilePage/UserPassword.tsx
  src/pages/UserProfilePage/UserProfilePage.tsx
  src/pages/UserProfilePage/apiUser.tsx
  src/pages/UserProfilePage/types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix merge conflicts
  package-lock.json
  package.json
  src/api/api.ts
  src/types.ts
Due: none

fix: fix conflicts
  package-lock.json
  package.json
  src/pages/UserProfilePage/UserAddresses.tsx
  src/pages/UserProfilePage/UserInfo.tsx
  src/pages/UserProfilePage/UserNewAddress.tsx
  src/pages/UserProfilePage/UserPassword.tsx
  src/pages/UserProfilePage/apiUser.tsx
  src/pages/UserProfilePage/toasts.ts
  src/pages/UserProfilePage/types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: styles
  src/pages/UserProfilePage/UserProfilePage.scss
Due: prettier --write

feat: add Image Gallery slider for Product Detail page
  src/App.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/Slider/Slider.css
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderItem.scss
  src/components/Slider/SliderItem.tsx
  src/pages/DetailedProductPage/DetailedProductPage.css
  src/pages/DetailedProductPage/DetailedProductPage.tsx
  src/pages/ProductDetailPage/ProductDetailPage.scss
  src/pages/ProductDetailPage/ProductDetailPage.tsx
  src/utils/typedHooks.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: change pathes
  package-lock.json
  package.json
  src/pages/UserProfilePage/UserAddresses.tsx
  src/pages/UserProfilePage/UserInfo.tsx
  src/pages/UserProfilePage/UserNewAddress.tsx
  src/pages/UserProfilePage/UserPassword.tsx
  src/pages/UserProfilePage/apiUser.tsx
  src/pages/UserProfilePage/toasts.ts
  src/pages/UserProfilePage/types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: basic Product Detail layout
  src/components/Slider/Slider.scss
  src/pages/ProductDetailPage/ProductDetailPage.scss
  src/pages/ProductDetailPage/ProductDetailPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: resolve package conflicts
  package-lock.json
Due: none

fix: solve types conflicts
  src/pages/UserProfilePage/toasts.ts
  src/pages/UserProfilePage/types.ts
  src/types.ts
Due: none

fix: resolve conflicts queryCustomer
  src/api/api.ts
  src/pages/UserProfilePage/UserAddresses.tsx
  src/pages/UserProfilePage/UserInfo.tsx
  src/pages/UserProfilePage/UserNewAddress.tsx
  src/pages/UserProfilePage/UserPassword.tsx
  src/pages/UserProfilePage/apiUser.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix merge conflicts
  src/components/LoginForm/RegistrationForm.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RE-51: feat - implement sorting products by price and name
  src/api/api.ts
  src/constants.ts
  src/pages/CatalogProductPage/CatalogProductPage.scss
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CatalogProductPage/helpers.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RE-54: feat - add redirection to detailed product page
  src/App.tsx
  src/components/ProductCard/ProductCard.scss
  src/components/ProductCard/ProductCard.tsx
  src/pages/DetailedProductPage/DetailedProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RE-53: feat - add interactive behavior to cards
  src/components/ProductCard/ProductCard.scss
Due: prettier --write

feat: add preloader and message for no products
  package.json
  src/components/Preloader/Preloader.css
  src/components/Preloader/Preloader.scss
  src/components/Preloader/Preloader.tsx
  src/pages/CatalogProductPage/CatalogProductPage.scss
  src/pages/CatalogProductPage/CatalogProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: remove unnecessary code
  src/pages/CatalogProductPage/CatalogProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix merge conflicts
  package-lock.json
Due: none

fix: fix sorting
  src/api/api.ts
Due: none

refactor: removed duplicated code in apiUser
  src/api/api.ts
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/UserProfilePage/apiUser.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

RE-52: feat - add search by word
  index.html
  public/icons8-video-96.png
  public/online-shopping.png
  src/api/api.ts
  src/pages/CatalogProductPage/CatalogProductPage.scss
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CatalogProductPage/helpers.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: move part with filters, search, sorting into separate component
  src/components/Filter/ProductFilter.tsx
  src/components/Filter/useProductFilter.ts
  src/pages/CatalogProductPage/CatalogProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: move styles for filters, search and sorting into separate file
  src/components/Filter/ProductFilter.scss
  src/components/Filter/ProductFilter.tsx
  src/pages/CatalogProductPage/CatalogProductPage.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: move interface ProductFilterProps into types
  src/components/Filter/ProductFilter.tsx
  src/types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add category list
  package-lock.json
  src/App.tsx
  src/api/api.ts
  src/components/Breadcrumbs/Breadcrumbs.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/CategoryList/CategoryList.scss
  src/features/CategoryList/CategoryList.tsx
  src/features/CategoryList/apiCategory.tsx
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CatalogProductPage/helpers.ts
  src/pages/CategoryPage/CategoryPage.scss
  src/pages/CategoryPage/CategoryPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: change breadcrumbs styles
  src/components/Breadcrumbs/Breadcrumbs.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/CategoryList/CategoryList.tsx
  src/features/CategoryList/apiCategory.tsx
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CategoryPage/CategoryPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix button position
  src/features/CategoryList/CategoryList.scss
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CategoryPage/CategoryPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix category filter
  .eslintrc.cjs
  src/api/api.ts
  src/features/CategoryList/CategoryList.tsx
  src/pages/CatalogProductPage/CatalogProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: make changes according to comments to pull request
  .eslintrc.cjs
  src/api/api.ts
  src/components/Filter/ProductFilter.tsx
  src/components/Preloader/Preloader.scss
  src/types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix merge conflicts
  src/pages/CatalogProductPage/helpers.ts
Due: none

fix: fix merge conflicts
  src/pages/CatalogProductPage/CatalogProductPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix merge conflicts
  src/api/api.ts
  src/pages/CatalogProductPage/CatalogProductPage.tsx
  src/pages/CatalogProductPage/helpers.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: rearrange module imports according to prettier precedence rule
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderItem.tsx
  src/pages/ProductDetailPage/ProductDetailPage.tsx
  src/utils/typedHooks.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add modal with slider
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderItem.tsx
  src/pages/ProductDetailPage/ProductDetailPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add discounted price to buy button on Product Detail page
  src/pages/ProductDetailPage/ProductDetailPage.scss
  src/pages/ProductDetailPage/ProductDetailPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add Touch slider support, remove overflow auto scroll
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/utils/universalTouch.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: Navigation Link Buttons active states changed - all sub Products/Catalog routes are shown active, when, well, active).
  src/components/CustomLink/CustomLink.tsx
  src/features/Navigation/Navigation.tsx
  src/features/Navigation/Navigation.types.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add Breadcrumbs to Product Detail page
  src/pages/ProductDetailPage/ProductDetailBreadcrumbs.scss
  src/pages/ProductDetailPage/ProductDetailBreadcrumbs.tsx
  src/pages/ProductDetailPage/ProductDetailPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix slider item css class name typo
  src/components/Slider/SliderItem.scss
Due: prettier --write

feat: add getProduct request on Product Detail Page (you wanted getProduct request - I gave you getProduct request))
  src/api/api.ts
  src/pages/ProductDetailPage/ProductDetailPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add test for query arguments
  jest.config.cjs
  package-lock.json
  package.json
  src/__tests__/api/api.test.ts
  src/__tests__/empty-module.ts
  src/__tests__/pages/CatalogProductPage/ProductList.test.tsx
  src/api/api.ts
  src/components/ProductCard/ProductCard.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

Path conditions:
  prettier --write: (any of: *.tsx) or (any of: *.scss)
  eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0: any of: *.tsx
